* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.one {
    text-align: center;
    font-size: 30px;
    border: 1px solid #fff;
}
.two {
    text-align: center;
    font-size: 30px;
    border: 1px solid #48e;
}
.tres {
    text-align: center;
    font-size: 30px;
    border: 1px solid crimson;
}